#tab-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  overflow-y: scroll;
}

.tab-item {
  flex: 1;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 5px;
  cursor: pointer;
}

.tab-item:hover {
  background-color: #eee;
}
